<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Pagination</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Pagination Component</h3>
                <p>This is an injectable component whose properties are purely configurable based on the kind of requirement !! </p>                           
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Feature </h3>
                    <span>number  of pages are counted on the basis number of records in a particaluar page and total number records</span><br>
                    <span>on clicking any page it emits the page count</span>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>How to Include It </h3>
                   Selector: <span>paginationComponent</span>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Pagination Styles
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <h1>Basic Pagination:</h1>
                    <ul class="pagination">
                                 <li><a href="#">1</a></li>
                                  <li><a href="#">2</a></li>
                                 <li><a href="#">3</a></li>
                                  <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                </ul> 
<h1>Active State Pagination:</h1>
                <ul class="pagination">
  <li><a href="#">1</a></li>
  <li class="active"><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul> 

<h1>Disable State Pagination:</h1>
<ul class="pagination">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li class="disabled"><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul> 
<h1>Large</h1>
<ul class="pagination pagination-lg">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>
<h1>Small</h1>
<ul class="pagination pagination-sm">
  <li><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul> 
<h1>Bread Crumbs</h1>
<ul class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Private</a></li>
  <li><a href="#">Pictures</a></li>
  <li class="active">Vacation</li> 
</ul> 
                </div>
                <!-- .panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
</div>
<div class="row">
    <div class="panel-body">
        <h1>Basic Pagination:</h1>
    <paginationComponent (pageClicked)="changePage($event)" [maxLimit]="limit" [itemlength]="itemLength"></paginationComponent>
    </div>
</div>
<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Code Snippet </h3>
                    <span>&lt;</span>paginationComponent (pageClicked)="changePage($event)" [maxLimit]="limit" [itemlength]="itemLength"<span>&gt;</span> <span>&lt;</span>/paginationComponent<span>&gt;</span>
                </div>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
<!-- /#page-wrapper -->

</div>