<div class="row">
    <div class="col-md-12">
      <h3> Type Script best Practices </h3>
      <ul class="list-group">
        <li class="list-group-item">Use camelCase for property names and local variables.</li>
        <li class="list-group-item">Do not use "_" as a prefix for private properties.</li>
        <li class="list-group-item">1 file per logical component (e.g. parser, scanner, emitter, checker).</li>
        <li class="list-group-item">Do not export types/functions unless you need to share it across multiple components.</li>
        <li class="list-group-item">Do not introduce new types/values to the global namespace.</li>
        <li class="list-group-item">For more details please follow this : <a href="https://github.com/Microsoft/TypeScript/wiki/Coding-guidelines">TypeScript Best practices</a></li>
        
  
      </ul>
    </div>
  </div>