<app-search-results></app-search-results>
<div class="row">
    <div class="col-sm-5">
        <h5>Individual Utilization</h5>
        <member-utilization-collapse class="leftMargin" [member]="firstMember"></member-utilization-collapse>
        <member-utilization-collapse class="leftMargin" [member]="secondMember"></member-utilization-collapse>
    </div>
    <div class="col-sm-1">
        <div class="vertical-line"></div>
    </div>
    <div class="col-sm-5 reduced_width">
        <div class="row familyFilter">
            <div class="col-sm-3">
                <label class="font-smaller">Plan Period</label>
              <table-dropdown [dropdownList]="planPeriodFilters"></table-dropdown>
            </div>
            <div class="col-sm-3">
                    <label class="font-smaller">Benefit Period</label>
                <table-dropdown [dropdownList]="benefitPeriodFilters"></table-dropdown>
            </div>
            <div class="col-sm-3">
                    <label class="font-smaller">Network Type</label>
             <table-dropdown [dropdownList]="networkTypeFilters"></table-dropdown>
            </div>
            <div class="col-sm-3">
                    <label class="font-smaller">Accum Type</label>
               <table-dropdown [dropdownList]="accumTypeFilters"></table-dropdown>
            </div>
        </div>
        <h5>Family Utilization</h5>
        <member-utilization-collapse [isFamily]="true" [member]="familyMember"></member-utilization-collapse>
    </div>
    <div class="col-sm-1">
            <button class="btn btn-default button-style button-width" type="button">Update Results</button>
        <div class="middle">
                <button class="btn btn-default button-style button-width" type="button">
                        <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Export Current Level</button>
            <button class="btn btn-default button-style button-width" type="button">
                <i class="fa fa-file-excel-o" aria-hidden="true"></i>&nbsp;Export All Details</button>
            <button class="btn btn-default button-style button-width" type="button">View Details</button>
        </div>
    </div>
</div>