<div class="row">
    <div class="col-md-12">
      <h3> Scss best Practices </h3>
      <ul class="list-group">
        
        <li class="list-group-item">File Structure - Encourages common style, components and variable (inline with Atomic Design)
            Modular style management that facilitates Styleguide Driven Development</li>
        <li class="list-group-item">Styles.scss - Charset should be included
            Only directory files -dir.scss files should be imported
            Changes should not be made to this file
            Filename is always ‘styles’ as it is a compiled file containing multiple stylesheets</li>
        <li class="list-group-item">Vendors - 
            All 3rd-party vendor tools (frameworks, libraries, helpers) should be separated into folders
            Only the 3rd-party master file for each vendor tool should be imported</li>
        <li class="list-group-item">Abstracts - 
            Helper functions and non–output snippets only (font-face imports, reusable mixins, global variables, colors, etc.)
            One @import per line</li>
        <li class="list-group-item">For more details please follow this : <a href="http://matthewelsom.com/blog/simple-scss-playbook.html">Scss Best practices</a></li>
        
  
      </ul>
    </div>
  </div>