<div class="row">
  <div class="col-sm-12">
      <label><u>Select File to Upload:</u></label>
  </div>
</div>
<div class="row">
  <div class="col-sm-1"></div>
  <div class="col-sm-1">
      <span>File Name:</span>
  </div>
  <div class="col-sm-10">
    <inputComponent [inputData]="fileUpload"></inputComponent>
  </div>
</div>
<div class="row marginTop marginLeft">
<div class="col-sm-2"></div>
<div class="col-sm-10">
  <form class="form-horizontal">
        <div class="form-group formdata">
          <label for="file-upload" class="custom-file-upload">
            {{global.browseButton}}
          </label>
          <input id="file-upload" accept=".xlsx, .xls " (change)="fileChangeEvent($event)"   type="file"/> 
       </div>
      </form>
      <app-modal [modelinput]="modeltransfer"></app-modal>
    </div>
</div>
<div class="row">
      <div class="col-md-12 button">
          <button #load type="button" class=" btn btn-default  pull-right loadButton " data-toggle="modal" data-target="#myModal" [disabled]="loadDisable">Load</button>
        </div>

</div>
