<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Masking</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Masking Component</h3>
                <p>This is an injectable directive whose properties are purely configurable based on the kind of requirement !! </p>                           
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <h3>Features</h3>
               <ul>
                   <li><b>Data Type</b> : Masking enabled component will be expecting the numeric values from the user.  </li>
                   <li><b>Currency Format</b> : Masking will be done in USD format. </li>
                   <li><b>Decimal </b> : It does accept the fraction part and mask it accordingly .  </li>

               </ul>
            </div>
        </div>
    </div>
    <!-- /.col-lg-12 -->
</div>
<!-- /.row -->
<div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>How to Include It </h3>
                   Selector: <span>CurrencyFormatter</span>
                </div>
                <!-- <div class="panel-body">
                  Code Snippet: <span><</span>input type="text" class="form-control" id="donation" [ngModel]="donation" <b>CurrencyFormatter</b> <span>></span> 
                </div> -->
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                  <h3>Masking used inside a input element</h3>
                    <form >
                        
              <div class="form-group">
               <label for="pwd"></label>
               <input type="text" class="form-control" id="donation" [ngModel]="donation" CurrencyFormatter >
             </div>
              
             
     
             <button type="submit" class="btn btn-default">Submit</button>
             </form>
                </div>
              </div>
        </div>
     </div>
      <div class="row">
          <div class="col-lg-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <h3>Code Snippet</h3>
                      <div class="panel panel-default">
                              
                                  <div class="panel-body">
                                   <code>  <span><</span>input type="text" class="form-control" id="donation" [ngModel]="donation" <b>CurrencyFormatter</b> <span>></span> </code>
                                    </div>
                      
                      </div>
                  </div></div>
          </div>
  </div> 
<!-- <h2>Masking</h2>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
   
          <div class="col-md-8">
           
           
        
      </div>
    </div>
  </div>\
</div>
 -->
