.panel .panel-body{
    min-height:80px;
}
.jumbotron{
    margin-top:90px;
}
.top-margin {
    margin-top : 10px;
}
label {
    display : block;
}
.bgwhite {
    background-color: white;
    border: 2px solid black;
}