.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown .dropdownMenu {
    list-style: none;
    width: 162px;
    margin: 0;
    display: block;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    float: left;
    font-size: 12px;
    text-align: left;
    background-color: #fff;
    border: 1px solid #ccc;
    text-align: left;
  }
  
  .dropdownToggle {
    background-color: transparent;
    border: 0.5px solid rgb(169, 169, 169);
    width: 105px !important;
    text-align: left;
    cursor: pointer;
    padding: 2px;
    display: inline-block;
    min-height: 15px;
  }
  
  .dropdownCaret {
       float: right;
      border-top: 6px dashed;
      border-top: 4px solid\9;
      border-right: 3px solid transparent;
      border-left: 3px solid transparent;
      margin-right: 4px;
  }
  
  .multiselectSize{
      width: 162px !important;
      height: 23px;
  }
  
  .multiselectHeight{
      height: 20px;
  }
  
  .displayValue{
      margin-top: -2px;
  }
  .dropCheckbox{
      width: 17px;
      margin-left: 3px;
  }
  .displayP{
      margin-left: 24px;
      margin-top: -19px;
  }
  p {
      font-size : 12px;
  }