<navbarComponent [navbarList]="menuModelArray"></navbarComponent>

<!-- Page Content -->
<div class="container">
  <div class="jumbotron">
<div class="row">
  <div class="col-sm-4">
     <div class="panel panel-default">
        <div class="panel-heading"><b>Modal</b></div>
             <div class="panel-body">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success btn-md center-block" data-toggle="modal" data-target="#myModal">Open Modal</button>
                           <app-modal [modelinput]="modeltransfer"></app-modal>
                          </div>
                  </div>
                  </div>
                <div class="panel-footer">
                  <a href="">Modal Reference</a>
                </div>
  </div>
  </div>
  <div class="col-sm-4">
   <div class="panel panel-default">
        <div class="panel-heading"><b>Datepicker</b></div>
             <div class="panel-body">
                <div class="container-fluid">
                    <app-datepicker></app-datepicker>
                  </div>
                  </div>
                <div class="panel-footer">
                  <a href="">Datepicker Reference</a>
                </div>
  </div>
  </div>
 <div class="col-sm-4">
     <div class="panel panel-default">
        <div class="panel-heading"><b>Masking</b></div>
             <div class="panel-body">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <input type="text" placeholder="Please enter valid amount" class="form-control" id="donation" [ngModel]="donation" appCurrencyFormatter >
                          </div>
                  </div>
                  </div>
                <div class="panel-footer">
                  <a href="">Masking Reference</a>
                </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-sm-4">
     <div class="panel panel-default">
        <div class="panel-heading"><b>Autocomplete</b></div>
             <div class="panel-body">
                <div class="container-fluid">
                     <autoCompleteComponent [autoCompleteSearchList]="group"></autoCompleteComponent>
                  </div>
                  </div>
                <div class="panel-footer">
                  <a href="">Autocomplete Reference</a>
                </div>
  </div>
  </div>
  <div class="col-sm-4">
   <div class="panel panel-default">
        <div class="panel-heading"><b>Pagination</b></div>
             <div class="panel-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-4"></div>
                      <div class="col-sm-4">
                    <ng-template ngFor let-item [ngForOf]="list()" let-currentElementIndex="(index + 1)" [ngForTrackBy]="trackByFn">
                     <div id="{{item.id}}">{{item.name}}</div>
                    </ng-template>
                      </div>
                  <div class="col-sm-4"></div>
                  </div>
                  <div class="row">
                     <div class="col-sm-4"></div>
                   <paginationComponent (pageClicked)="changePage($event)" [maxLimit]="limit" [itemlength]="itemLength"></paginationComponent>
                  <div class="col-sm-4"></div>
                  </div>
                  </div>
                  </div>
                <div class="panel-footer">
                  <a href="">Pagination Reference</a>
                </div>
  </div>
  </div>
 <div class="col-sm-4">
     <div class="panel panel-default">
        <div class="panel-heading"><b>Input</b></div>
             <div class="panel-body">
                <div class="container-fluid">
                  <label>Id</label><input type="text" class="form-control" [(ngModel)]="id">
                  <button type="submit" (click)="requestData()" class="btn btn-primary top-margin">Submit</button>
                  </div>
                
                  <div *ngIf="data" style="margin-top : 5px">
                    <label>Plan ID : {{data.planID}}</label>
                    <label>Plan Name : {{data.adminPlanName}}</label>
                    <label>Plan Version Key List : {{data.adminPlanVersionKeyList}}</label>
                  </div>
                  </div>
                
                <div class="panel-footer">
                  <a href="">Input Reference</a>
                </div>
  </div>
              
</div>

</div>
  </div>
   <!-- <div class="row">
     <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
    <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Username:</label>
              <div class="col-sm-10">
                <input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
              </div>
            </div>             
            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
          </div>
    </div>     
     </div>  
   </div> -->
</div>
<!-- /.container -->

