<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Hcsc</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>

<!-- Page Content -->
<div class="container">
  <div class="jumbotron">
<div class="row">
  <div class="col-sm-4">
     <div class="panel panel-default">
        <div class="panel-heading"><b>Modal</b></div>
             <div class="panel-body">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-success btn-md center-block" data-toggle="modal" data-target="#myModal">Open Modal</button>
                           <app-modal [modelinput]="modeltransfer"></app-modal>
                          </div>
                  </div>
                  </div>
  </div>
  </div>
  <div class="col-sm-4">
   <div class="panel panel-default">
        <div class="panel-heading"><b>Datepicker</b></div>
             <div class="panel-body">
                <div class="container-fluid">
                    <app-datepicker></app-datepicker>
                  </div>
                  </div>
  </div>
  </div>
 <div class="col-sm-4">
     <div class="panel panel-default">
        <div class="panel-heading"><b>Masking</b></div>
             <div class="panel-body">
                <div class="container-fluid">
                    <div class="col-md-12">
                        <input type="text" placeholder="Please enter valid amount" class="form-control" id="donation" [ngModel]="donation" appCurrencyFormatter >
                          </div>
                  </div>
                  </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-sm-4">
     <div class="panel panel-default">
        <div class="panel-heading"><b>Autocomplete</b></div>
             <div class="panel-body">
                <div class="container-fluid">
                     <autoCompleteComponent [autoCompleteSearchList]="group"></autoCompleteComponent>
                  </div>
                  </div>
  </div>
  </div>
  <div class="col-sm-4">
   <div class="panel panel-default">
        <div class="panel-heading"><b>Pagination</b></div>
             <div class="panel-body">
                <div class="container-fluid">
                  <div class="row">
                    <ng-template ngFor let-item [ngForOf]="list()" let-currentElementIndex="(index + 1)" [ngForTrackBy]="trackByFn">
                     <div id="{{item.id}}">{{item.name}}</div>
                    </ng-template>
                  </div>
                  <div class="row">
                   <paginationComponent (pageClicked)="changePage($event)" [maxLimit]="limit" [itemlength]="itemLength"></paginationComponent>
                  </div>
                  </div>
                  </div>
  </div>
  </div>
 <div class="col-sm-4">
     <div class="panel panel-default">
        <div class="panel-heading"><b>Input</b></div>
             <div class="panel-body">
                <div class="container-fluid">
                  <inputComponent [inputData]="inputtransfer"></inputComponent>
                  </div>
                  </div>
  </div>
</div>
</div>
  </div>
   <!-- <div class="row">
     <div class="col-md-8">
        <div class="panel panel-default">
            <div class="panel-body">
    <form class="form-horizontal">
            <div class="form-group">
              <label class="control-label col-sm-2" for="email">Username:</label>
              <div class="col-sm-10">
                <input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
              </div>
            </div>             
            <div class="form-group"> 
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Submit</button>
              </div>
            </div>
          </form>
          </div>
    </div>     
     </div>  
   </div> -->
</div>
<!-- /.container -->

