<div class="row pillHeader">
  <div class="col-sm-12 ">
    <ul class="nav nav-pills">
      <li>
        <span class="glyphicon glyphicon-home home-logo"></span>
      </li>
      <li class="active margin-left-18">
        <a class="tab" [routerLink]="['member-accums-inquiry']">Member Accums Inquiry</a>
      </li>
      <li class="">
        <a [routerLink]="['something-else']">Manual Load</a>
      </li>
      <li class="">
        <a href="#">Audit Trail</a>
      </li>
      <li class="">
        <a href="#">Vendor Accums</a>
      </li>
      <li class="">
        <a href="#">Manual Speed Load</a>
      </li>
      <li class="floatRight">
        <span class="glyphicon glyphicon-plus" data-toggle="collapse" data-target="#search"></span>
      </li>
    </ul>
  </div>
  <div class="col-sm-12">
    <div id="search" class="collapse lightGrey">
      <app-member-accums-search></app-member-accums-search>
    </div>
  </div>
</div>