.pillHeader{
    background-color: #F2F2F2;
    border: 1px solid grey;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.home-logo{
    font-size: xx-large;
}
.lightGrey{
    background-color: #F2F2F2;
    margin-top: 5%;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover{
    background-color:grey !important;
}
.floatRight{
    float:right;
}