<div class="row pillHeader">
  <div class="col-sm-12 ">
    <ul class="nav nav-pills">
      <li>
        <img src="../../assets/house.png">
      </li>
      <li class="active margin-left-18 li-border">
        <a  [routerLink]="['member-accums-inquiry']">Member Accums Inquiry</a>
      </li>
      <li class="li-border">
        <a [routerLink]="['something-else']">Manual Load</a>
      </li>
      <li class="li-border">
        <a href="#">Audit Trail</a>
      </li>
      <li class="li-border">
        <a href="#">Vendor Accums</a>
      </li>
      <li class="li-border">
        <a href="#">Manual Speed Load</a>
      </li>
      <li class="floatRight">
        <span class="glyphicon" [class.glyphicon-minus]="classChanged" [class.glyphicon-plus]="!classChanged" (click)="toggleClass()" data-toggle="collapse" data-target="#search"></span>
      </li>
    </ul>
  </div>
  <div class="col-sm-12">
  <div id="search" class="collapse lightGrey">
    <app-member-accums-search></app-member-accums-search>
  </div>
</div>
</div>