.pillHeader{
    background-color: lightgrey;
    border: 1px solid grey;
    margin-top: 1%;
    margin-bottom: 1%;
    padding-top: 1%;
    padding-bottom: 1%;
}
.home-logo{
    font-size: xx-large;
}