<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-2">Subscriber Id<span>*</span></div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2">Member DOB</div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-2">Group Number</div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2">State Code</div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-2">Member F Name</div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2">Gender</div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-2">Member L Name</div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2">Relationship</div>
  <div class="col-sm-2"></div>
  <div class="col-sm-2"></div>
</div>
<div class="row">
  <button type="submit" class="btn">Search</button>
</div>