<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-1">Subscriber Id<span>*</span></div>
  <div class="col-sm-2">
    <inputComponent [inputData]="subscriberId"></inputComponent>
  </div>
  <div class="col-sm-1">Member DOB</div>
  <div class="col-sm-2">
    <app-datepicker></app-datepicker>
  </div>
  <div class="col-sm-1">Section Number</div>
  <div class="col-sm-2">
      <inputComponent [inputData]="sectionNumber"></inputComponent>
  </div>
  <div class="col-sm-1">
  </div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-1">Group Number</div>
  <div class="col-sm-2">
    <inputComponent [inputData]="groupNumber"></inputComponent>
  </div>
  <div class="col-sm-1">State Code</div>
  <div class="col-sm-2">
    <inputComponent [inputData]="stateCode"></inputComponent>
  </div>
  <div class="col-sm-1">Account Number</div>
  <div class="col-sm-2">
      <inputComponent [inputData]="accountNumber"></inputComponent>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-1">Member F Name</div>
  <div class="col-sm-2">
    <inputComponent [inputData]="memberFName"></inputComponent>
  </div>
  <div class="col-sm-1">Gender</div>
  <div class="col-sm-2">
    <div class="form-group">
      <select class="form-control" id="gender">
        <option>Male</option>
        <option>Female</option>
      </select>
    </div>
    
    
  </div>
  <div class="col-sm-1">SSN</div>
  <div class="col-sm-2">
      <inputComponent [inputData]="ssn"></inputComponent>
  </div>
  <div class="col-sm-1"></div>
</div>
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-1">Member L Name</div>
  <div class="col-sm-2">
    <inputComponent [inputData]="memberLName"></inputComponent>
  </div>
  <div class="col-sm-1">Relationship</div>
  <div class="col-sm-2">
      <div class="form-group">
          <select class="form-control" id="gender">
            <option>Dependent</option>
            <option>Subscriber</option>
          </select>
        </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-2">
      <button type="submit" class="btn">Search</button>
  </div>
  <div class="col-sm-1"></div>
</div>
