<div id="myModal" data-backdrop="static" data-keyboard="false" class="modal fade" role="dialog">
    <div class="modal-dialog modal-top">     
       <div class="modal-content">
          <div class="row">
              <div class="col-sm-12">
                  <p class="modal-body">{{modelinput.modelContent}}</p>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="btn btn-default closeButton" data-dismiss="modal">Close</button>
                </div>
          </div>          
    </div>
  </div>
