.modal-body{
    max-height: 300px;
    overflow-y: scroll;
    overflow: auto;
}
.modal-top{
    top:125px;
    border: 6px solid #a9a9a9ed;
    width: 29%;
}
.modal-dialog .modal-content{
    border-radius: 0px;
    text-align: center;
   
}
.closeButton{
    margin-bottom: 1%;
}
