.formdata{
  margin-bottom: 250px;
}
input[type='file'] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    height: 22px;
    font-weight: 500;
    line-height: 1;
    position: relative;
    border-radius: 3px;
    background-color: #d3d3d37d;
    font-size: x-small;
} 
.marginTop{
    margin-top: 1% !important;
}
.marginLeft{
    margin-left: 2% !important;
}
.loadButton{
    width: 12%;
    height: 20px;
    line-height: 0;
    margin-right: 2%;
}