<div class="row">
  <div class="col-md-12">
    <h3> Angular best Practices </h3>
    <ul class="list-group">
      <li class="list-group-item"> Use Angular CLI . For more details please follow this :<a href="https://cli.angular.io/"> Angular CLI Library</a></li>
      <li class="list-group-item">Use Visual Studio Code as it is an awesome IDE for building Angular apps</li>
      <li class="list-group-item">The Angular Language Service — Provides template-aware and Angular-aware completion and error checking withing your application</li>
      <li class="list-group-item">Don’t Subscribe to Your Observables In Components -The better way to do this is to use the async pipe within your templates, and let Angular manage the whole thing for you</li>
      <li class="list-group-item"> Don’t Forget about SEO and Analytics</li>
      <li class="list-group-item">For more details please follow this : <a href="https://airbrake.io/blog/javascript/angularjs-best-practices">Angular Best practices</a></li>
      

    </ul>
  </div>
</div>