.header{
    background-color: black;
    color: white;
     padding-top: 1%;
    padding-bottom: 1%;
}
.headerPadding{
    padding-top: 1%;
}
.text-align{
    text-align: center;
}
.float-right{
    float: right;
}
.margin-right-8{
    margin-right: 8px;
}
.user-img{
    width:21px;
    height: 21px;
}